!!! XML
!!!
%head
	%title Mentor Assignment Helper | #{@title}
	%link{:rel => "stylesheet", :type => "text/css", :href => "css/assignments.css"}
	%script{:type => "text/javascript", :src => "js/jquery-1.4.2.min.js"}
	%script{:type => "text/javascript", :src => "js/assignments.js"}	
%body
	#wrapper
		%h1 Mentor Assignment Helper
		%span#brought_by brought to you by your friends in Educational Technology

		=yield
	%div#footer

